---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';

const seo = {
  title: 'Pluto Zone ID',
  description: 'An tool to easily identify Pluto IDs, Roblox usernames, and all connections with it.',
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h1 class="fade-in">Pluto Zone ID</h1>
      <p class="fade-in">An tool to easily identify Pluto IDs, Roblox usernames, and all connections with it.</p>
    </article>
  </Container>
</Layout>

